*{
	box-sizing: border-box;
	font-family: helvetica;

	}

h1{
	text-align: center;
	color: red
}


	.div-1{
		position: relative;
		background-color: yellow;
		color: black;
		border: 1px;
		border-radius: 3px;
		height: 250px;
		
		}

	.div-2{
		position: relative;
		background-color: red;
		color: black;
		border: 1px;
		border-radius: 3px;
		height: 250px;
		
		
		}

	.div-3{
		position: relative;
		background-color: pink;
		color: black;
		border: 1px;
		border-radius: 3px;
		height: 250px;
		}
	h6{
		text-align: right;
	}

	#text{
		text-align: left;
		background-color: black;
		color: white;
		flex: auto;
		text-overflow: scroll;
	}


/*big screen devices*/
@media (min-width: 992px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float:left;
        border:1px solid;
        padding:5px;
        margin: 25px;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width:33.33%;
    }
   .col-lg-5{
       width: 41.66%;
   } 
   .col-lg-6{
       width: 50%;
   }
   .col-lg-7{
       width: 58.33%;
   }
   .col-lg-8{
       width: 66.66%;
   }
   .col-lg-9{
       width: 75%;
   }
   .col-lg-10{
       width: 83.33%;
   }
   .col-lg-11{
       width: 91.66%;
   }
   .col-lg-12{
       width: 100%;
   }
}


/*medium screen devices*/
@media (min-width:768px) and (max-width: 991px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float:left;
        border:1px solid;
        padding:5px;
        margin: 2px;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width:33.33%;
    }
   .col-md-5{
       width: 41.66%;
   } 
   .col-md-6{
       width: 50%;
   }
   .col-md-7{
       width: 58.33%;
   }
   .col-md-8{
       width: 66.66%;
   }
   .col-md-9{
       width: 75%;
   }
   .col-md-10{
       width: 83.33%;
   }
   .col-md-11{
       width: 91.66%;
   }
   .col-md-12{
       width: 100%;
   }
}

/*small screen devices*/
@media (max-width: 767px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float:left;
        border:1px solid;
        padding:5px;
        margin: 2px;
        
    }
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width:33.33%;
    }
   .col-sm-5{
       width: 41.66%;
   } 
   .col-sm-6{
       width: 50%;
   }
   .col-sm-7{
       width: 58.33%;
   }
   .col-sm-8{
       width: 66.66%;
   }
   .col-sm-9{
       width: 75%;
   }
   .col-sm-10{
       width: 83.33%;
   }
   .col-sm-11{
       width: 91.66%;
   }
   .col-sm-12{
       width: 100%;
   }
}
 